<div class="row" id="table-view">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div id="selector-add-area">
                    <!-- <form id="add-selector-form" class="form-horizontal">

                    </form> -->
                    <div class="form-group">
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="selector-name" placeholder="请输入查询条件">
                        </div>
                        <a class="btn btn-default" href="javascript:void(0);" id="search-btn">
                            <i class="fa fa-search"></i>
                            <span>查询</span>
                        </a>
                    </div><!-- name -->
                </div>
                <h4 id="rules-section-header">请求接口列表</h4>
                <ul class="sortable-list agile-list">
                    <li data-id="" class="warning-element">
                        <table class="table table-hover single-rule-table">
                            <tbody>
                                <tr class="thead-rule-row-tr">
                                    <td class="center rule-enable-td">
                                        <span class="label label-primary"></span>
                                    </td>
                                    <td class="rule-name-td">
                                        <b class="namep"></b>
                                    </td>
                                    <td class="left rule-totalCount-td">
                                        <div class="totalCount">
                                            <input type="checkbox" name="bootstrap-switch" data-size="mini" data-toggle="switch" data-on-color="default" data-on-text="升序" data-off-color="default" data-off-text="降序">
                                        </div>
                                    </td>
                                    <td class="left rule-averageRequestTime-td">
                                        <div class="averageRequestTime">
                                            <input type="checkbox" name="bootstrap-switch" data-size="mini" data-toggle="switch" data-on-color="default" data-on-text="升序" data-off-color="default" data-off-text="降序">
                                        </div>
                                    </td>
                                    <td class="center rule-op-td hide">
                                        <a class="btn btn-white btn-sm statistic-btn"><i title="查看统计" class="fa fa-bar-chart"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
                <ul id="rules"  class="sortable-list agile-list">

                </ul>
            </div>
        </div>
    </div>
</div>
